/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("imagenes/fondo.png");
}
/*Nav*/
header {
  background: #d8af39;
  padding: 10px 40px 10px 40px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.logoStudiosG {
  flex: auto;
}
.funFacts {
  display: inline-flex;
  padding: 0 20px;
}
.searchInput {
  height: 31px;
  width: 170px;
  display: flex;
  background: #ebe9e9;
  border-radius: 5px;
  align-items: center;
}
.searchInput #search-Icon {
  height: 31px;
  width: 135px;
  border: none;
  background: #ebe9e9;
  border-radius: 5px;
  font-size: 14px;
  color: #4c413f;
  font-weight: bold;
  padding-left: 10px;
}
.searchInput #iconSearch {
  width: 40px;
  line-height: 31px;
  text-align: center;
  background: #ebe9e9;
  border-radius: 5px;
  padding: 0 10px;
  color: #4c413f;
}
.searchInput #iconSearch:hover {
  background: #4c413f;
  color: #ebe9e9;
  cursor: pointer;
}
/*Main*/
.initialPicture {
  flex: auto;
}
.initialPicture .kikisPicture {
  width: 100%;
  height: 707px;
}
.posterText {
  font-weight: 800;
  color: #4c413f;
  background: rgba(255, 250, 250, 0.39);
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 133px;
  top: 662px;
}
#bigText {
  font-size: 64px;
  text-align: right;
  margin-right: 85px;
  font-style: normal;
}
#smallText {
  font-size: 45px;
  text-align: right;
  margin-right: 85px;
  font-style: normal;
}
/* div con todas los posters */
.allMoviesAndFilter {
  padding-left: 200px;
  font-size: 64px;
}
#allMovies {
  color: #4c413f;
}
.movieList {
  background: rgba(255, 250, 250, 0.39);
  width: 90%;
  margin-left: 90px;
}
#moviesList {
  display: grid;
  padding: 3rem;
  grid-gap: 4rem;
  color: #ebe9e9;
  padding-bottom: 50px;
  transition: 0.4s ease-in-out;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* tarjeta global */
.globalCard {
  width: 100%;
  display: grid;
  height: 300px;
  display: flex;
  position: relative;
  grid-auto-rows: 390px;
  background-size: cover;
  justify-content: center;
  grid-auto-flow: row dense;
  transition: all ease 0.5s;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  background-position: -180px center;
  grid-template-columns: repeat(4, 1fr);
  transform: perspective(600px) rotateY(0deg);
  grid-template-rows: repeat(auto-fit, 390px);
}

/* tarjeta frontal */
.card {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  position: absolute;
  transition: all ease 0.5s;
  border-radius: 5px;
  backface-visibility: hidden;
  background-size: cover;
}
.card p {
  background: rgba(255, 250, 250, 0.39);
  width: 200px;
  display: flex;
  position: absolute;
  margin-top: 278px;
  justify-content: center;
  font-weight: bolder;
  font-size: 18px;
}

.globalCard:hover {
  transform: perspective(600px) rotateY(180deg);
}

.moviesList:hover .globalCard {
  transform: rotateY(180deg);
}

/* tarjeta trasera */
.back-card {
  background-size: cover;
  text-align: center;
  background: #4c413f;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  position: absolute;
  transition: all ease 0.5s;
  border-radius: 5px;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
}
.backCardInfo {
  width: 100%;
  height: 100%;
  display: flex;
  color: #ebe9e9;
  font-size: small;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.divSynopsis {
  padding-top: 10px;
}
.pSinopsys {
  padding: 0;
  color: #d8af39;
  font-size: 18px;
  justify-content: center;
  font-weight: normal;
  padding-bottom: 10px;
}
.divFilmDescription {
  padding-top: 10px;
}
.filmDescription {
  justify-content: center;
  font-weight: normal;
  padding-bottom: 10px;
}
.btnMoreInfo {
  width: 115px;
  height: 30px;
  left: 65.26px;
  top: 268.25px;
  background: #14454c;
  border-radius: 10px;
  color: #ebe9e9;
  margin-left: 42px;
}

/*Footer*/
footer {
  background: #d8af39;
  padding: 10px 40px 10px 40px;
  height: 68px;
  display: flex;
  justify-content: center;
}
.footerItems {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  font-size: medium;
  color: white;
  justify-content: space-around;
  flex-direction: row;
}
.footerContent {
  margin: 5px;
}
.footerItemsbt a {
  color: #ebe9e9;
}
/*@media screen and (max-width: 1052px) {
 nav{
  padding 10px 40px 10px 40px;
  }
}
.movieList {
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  padding: 1.8rem;*/
