@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');

body {
  max-width: 100%;
}

header {
  background: white;
  width: 100%;
  height: 15%;
  left: 0;
  top: 0;
  position: fixed;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 53%);
}

h1 {
  font-family: 'Roboto-black', sans-serif;
  color: #44696C;
  font-size: 3em;
  padding: 0px 27%;
  position: fixed;
  top: 1%;
}

.selectPokemon {
  width: 12rem;
  height: 2.5rem;
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  padding: 0 1.5rem;
  outline: none;
  border-style: none;
  border-radius: 15px;
}

#order {
  position: fixed;
  left: 51%;
  top: 7%;
}

#filter {
  position: fixed;
  left: 64%;
  top: 7%;
}

.searchPokemon {
  width: 15rem;
  height: 2.5rem;
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  padding: 0 1.5rem;
  outline: none;
  border-style: none;
  border-radius: 15px;
  position: fixed;
  left: 77%;
  top: 7%;
}

.searchPokemon input {
  width: 15rem;
  height: 2.5rem;
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  padding: 0 1.5rem;
  outline: none;
  border-inline: none;
  border-style: none;
  border-radius: 15px;
}

#botonSearch{
  width: 5rem;
  height: 2.5rem;
  position: fixed;
  left: 90%;
  top: 7%;
  color:#14528F

}

aside {
  margin: 0px;
  float: left;
  position: fixed;
  width: 25%;
  height: 100%;
  left: 0;
  top: 0;
  top: 0px;
  left: 0px;
  background-color: #14528F;
  font-family: 'Roboto-black', sans-serif;
  text-align: center;
  color: white;
}

#Entrenador {
  width: 7rem;
  height: 40%;
  padding-top: 10%;
  z-index: 1;
}

#Pokebola {
  position: absolute;
  width: 25rem;
  height: 25rem;
  left: -5rem;
  top: -1rem;
  opacity: 0.5;
  z-index: -1;
}

h2 {
  font-family: 'Roboto-black', sans-serif;
  color: #C4C4C4;
  font-size: 3em;
  margin: 1rem;
}

h4 {
  font-family: 'Roboto-black', sans-serif;
  font-size: 2em;
  display: left;
  margin: 0%;
}

p{
  display: right;
  margin: 2rem;
}

#barraNivel {
  background-color: #18EFE9;
  width: 60%;
  border-radius: 15px;
  display: inline-flex;
  height: 1rem;
}

#level {
  float: left;
  width: 10%;
  padding: 0px 10%;
}

.pags {
  font-family: 'Roboto-black', sans-serif;
  color: white;
  font-size: 2em;
  text-align: left;
  padding: 0px 30%;
}

.pags:hover {
  color: #C4C4C4;
}

main {
  float: right;
  width: 70%;
  padding: 3rem;
}

#root {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-flow: row wrap;
  gap: 2rem;
  margin-top: 8rem;
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: #ffffff;
  flex: auto;
  width: 14rem;
  height: 17rem;
  text-align: center;
  justify-content: center;
  border-color: white;
  box-shadow: 0px 0.25rem 0.2rem rgba(0, 0, 0, 0.30);
  border-radius: 1rem;
  color: #44696c;
  list-style-type: none;
  text-transform: capitalize;
}

.card:hover {
  background-color: #14528F;
  color: whitesmoke;
}

.num {
  text-align: left;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.img {
  margin: -1rem auto;
}

.name {
  font-family: 'Roboto-black', sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 1rem auto;
  
}

.barrita {
  background-color: #6DEDB7;
  width: 80%;
  border-radius: 15px;
  display: block;
  height: 0.3rem;
  margin: 0.5rem auto;
}

#divType {
  border-radius: 15px;
  font-size: 1.1rem;
  color: white;
  text-align: center;
  width: 5rem;
  height: 1.9rem;
  margin: 1rem 0.5rem 1rem;
  justify-content: center;
  display: inline-flex;
  
}

.normal { background-color: #A9A878;}
.fire { background-color: #C03028;}
.water { background-color: #6890F0;}
.grass { background-color: #78C84F;}
.electric { background-color: #F8D030;}
.ice { background-color: #18EFE9;}
.fighting { background-color: #F07F2F;}
.poison { background-color: #A040A1;}
.ground {background-color: #995205;}
.flying {background-color: #A890F0;}
.psychic { background-color: #F85888;}
.bug { background-color: #A8B821;}
.rock { background-color: #A0935F;}
.ghost { background-color: #5932A5;}
.dragon { background-color: #1A578E;}
.dark { background-color: #3D3D3D;}
.steel { background-color: #8E8E8E;}
.fairy { background-color: #FF69C6;}

#modal-container {
  position: relative;
  top: 2rem;
}

#modalClose {
  position: absolute;
  left: 69rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  border-color: #ffffff;
  font-size: 2rem;
  color: #44696c;

}

.modalStructure{
  
  position: sticky;
  margin: auto;
  width: 72rem;
  height: 42rem;
  background-image: url(images/fondo-modal.jpg);
  background-size: cover;
  object-position: center;
   border-radius: 45px;
   box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 53%);
   justify-content: center;
   margin: auto;
}

.modalBackground{
  
  background-color: #fafafa;
  position: relative;
  top: 7rem;
  width: 72rem;
  height: 40rem;
  border-radius: 45px;
  margin: 30px, auto;
  box-shadow: 0px 10px 25px 0px rgb(0 0 0 / 53%);
}

#modalPokemon{
  display: inline-block;
  background-color: hsla(0, 0%, 100%, 0);
  position: absolute;
  top: -15%; left: 38%;
  width: 200px;
  height: 250px;
  border-radius: 15px;
}

.general-info {
  font-family: 'Roboto-black', sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #44696c;
  text-align: center;
  text-transform: capitalize;
  margin: auto;
  object-position: center;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #44696c;
  text-align: center;
}


.description {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #44696c;
  position: absolute;
  top: 10rem;
}

.defense-section {
  position: absolute;
  top: 17rem;
  left: 50%;
  width: 30rem;
  height: 15rem;
  margin: auto;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  color: #44696c;
}

.stats-chart {
  position: absolute;
  top: 15em;
  left: 2rem;
  width: 30rem;
  height: auto;
}

.barrita2 {
  background-color: #c4c4c4;
  width: 90%;
  border-radius: 15px;
  position: absolute;
  top: 30rem;
  left: 5%;
  height: 0.3rem;
  margin: 0.5rem auto;
}