* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("img/fondo.png");
}

header {
  background-color: #d8af39;
  height: 68px;
  display: flex;
}

.containerLogo {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
  margin-left: 30px;
}

.ghiblisLogo {
  display: flex;
  align-items: center;
  max-width: 12%;
  height: auto;
  margin-bottom: 5%;
}

#navBar {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.funFacts {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.inputSearch {
  display: flex;
  height: 31px;
  width: 150px;
  margin-top: 22px;
  font-family: Roboto, "FontAwesome", sans-serif;
  font-size: small;
  background: #efefef;
  color: #3c3c43;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}

input[type="search"]::placeholder {
  padding-left: 15%;
}

.initialPicture {
  flex: auto;
}
.initialPicture .kikisPicture {
  width: 100%;
  height: 707px;
}
.posterText {
  font-weight: 700;
  color: #4c413f;
  background: rgba(255, 250, 250, 0.39);
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 133px;
  top: 648px;
}

#bigText {
  font-size: 64px;
  text-align: right;
  margin-right: 85px;
  font-style: normal;
}
#smallText {
  font-size: 45px;
  text-align: right;
  margin-right: 85px;
  font-style: normal;
}

footer {
  height: 68px;
  display: flex;
  justify-content: center;
  background-color: #d8af39;
}

select {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #4c413f;
  font-weight: bold;
  background-color: #efefef;
  height: 40px;
  width: 15%;
  border-radius: 5px;
}

.select-items {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: #4c413f;
}

#allMovies {
  padding-bottom: 2%;
  padding-left: 7%;
  display: flex;
  color: #4c413f;
  font-size: 180%;
}
.footerItems {
  font-size: small;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footerContent {
  margin: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* div con todas los posters */
.allMoviesAndFilter {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: space-evenly;
}

#allMovies {
  font-size: 50px;
  font-weight: 800;
  color: #4c413f;
  font-style: normal;
  display: flex;
}

.movieList {
  background: rgba(255, 250, 250, 0.39);
  width: 90%;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  margin-left: 70px;
  padding-top: 70px;
  padding-bottom: 30px;
}

#moviesList {
  color: #4c413f;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
}
/* tarjeta global */
.globalCard {
  position: relative;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  margin: 10px;

}
/* tarjeta frontal */
.globalCard .card {
 transform: perspective(600px) rotateY(0deg);
 box-shadow: 0 5px 10px #4c413f;
 backface-visibility: hidden;
 position: absolute;
 width: 100%;
 height: 100%;
 transition: .5s;
 border-radius: 10px;
}
.globalCard .card img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.globalCard .card p {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 45px;
 font-size: 15px;
 font-weight:bold;
 line-height: 45px;
 color: #4c413f;
 background:rgba(255, 250, 250, 0.39);
 text-align: center;
 border-radius: 0 0 10px 10px;
}

/* tarjeta trasera */
.globalCard .back-card {
 transform: perspective(600px) rotateY(180deg);
 background: #4c413f;
 font-size: 20px;
 padding: 10px;
 color: #d8af39;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
 box-shadow: 0 5px 10px #4c413f;
 backface-visibility: hidden;
 position: absolute;
 width: 100%;
 height: 100%;
 transition: .5s;
 border-radius: 10px;
}

.globalCard .back-card .filmDescription{
  color: #ebe9e9;
  font-size: 10px;
  justify-content: center;
  font-weight: normal;
  padding-bottom: 10px;
  letter-spacing: 1px;
}
.globalCard .back-card .btnMoreInfo {
  width: 115px;
  height: 30px;
  left: 65.26px;
  top: 268.25px;
  background: #14454c;
  border-radius: 10px;
  color: #ebe9e9;
  margin-left: 42px;
}
.globalCard:hover .card{
  transform: perspective(600px) rotateY(180deg);
}
.globalCard:hover .back-card {
  transform: perspective(600px) rotateY(360deg);
}

