* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("img/fondo.png");
  font-size: 16px;
  width: auto;
}

/*header section*/
header {
  background-color: #d8af39;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 50px;
  align-items: center;
}

.containerLogo {
  height: 5em;
  display: flex;
}

.ghiblisLogo {
  width: auto;
  height: 5em;
  padding: 10px;
}

.ghiblisLogo {
  display: flex;
  align-items: center;
  width: 8.125rem;
  height: auto;
  margin-bottom: 5%;
}

#home {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  margin-top: 15px;
  width: 100%;
  height: auto;
  color: #efefef;
  margin-right: 50px;
  cursor: pointer;
}

/* Movie info and poster*/

main{
  display: flex;
  margin-top: 20px; 
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  color: #4c413f;
  padding-top: 20px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 50px;
}
        
#movieInfoAndPoster {
  background-color: rgba(255, 250, 250, 0.39);
  display: flex;
  justify-content: center;
  width: 80%;
  /* padding-top: 50px;
  padding-bottom: 30px; */
  align-self: center;
  height: 450px;
  border: 2px solid #4c413f;
  border-radius: 5px;
  margin-bottom: 30px;
}

#movieInfoAndPoster #moviePoster {
  border-radius: 2%;
  
  height: 100%;
}

#movieInfo{
  text-align: center;
  font-size: 18px;
  overflow: hidden;
  padding: 4x;
  font-weight: bolder;
  color: #4c413f;
}

#movieInfo p{
  text-align: center;
  font-size: 18px;
  padding: 12px;
}

#movieInfo button{
  text-align: center;
  font-size: 18px;
  padding: 12px;
  height: 58px;
  width: 280px;
  border-radius: 5px;
  color: #d8af39;
  background: #4c413f;
  font-weight: bolder;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 0.3125rem 0.625rem #4c413f;
}

#movieInfo button:hover{
  color: #efefef;
}



.characters{
  display: flex;
  width: 80%;
  background: rgba(255, 250, 250, 0.39);
  justify-content: center;
  /* padding: 40px; */
  position: relative;
  align-self: center;
  padding-bottom: 20px;
}

h2{
 position: absolute;
font-size: 40px;
font-weight: bolder;
margin-bottom: 20px;
color: #4c413f;
}

#characterPictures{
  display: grid;
  color: #4c413f;
  grid-gap: 30px;
  grid-template-columns: auto auto auto auto;
  margin-top: 60px;
}

#characterPictures img{
height: 280px;
width: 240px;
border-radius: 10px;
box-shadow: 0 0.3125rem 0.625rem #4c413f;
}

#characterPictures figcaption{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 240px;
  background: #4c413f;
  height: 45px;
  color: #efefef;
  padding: 5px;
  border-radius: 5px;
}

.locations{
  display: flex;
  width: 80%;
  background: rgba(255, 250, 250, 0.39);
  justify-content: center;
  /* padding: 40px; */
  position: relative;
  align-self: center;
  margin-top: 40px;

  padding-bottom: 40px;
}

h2{
 position: absolute;
font-size: 40px;
font-weight: bolder;
margin-bottom: 20px;
}

#locationPictures{
  display: grid;
  color: #4c413f;
  grid-gap: 30px;
  grid-template-columns: auto auto auto auto;
  margin-top: 60px;
}

#locationPictures img{
height: 280px;
width: 240px;
border-radius: 10px;
box-shadow: 0 0.3125rem 0.625rem #4c413f;
}

#locationPictures figcaption{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 240px;
  background: #4c413f;
  height: 45px;
  color: #efefef;
  padding: 5px;
  border-radius: 5px;
  }

  .vehicles{
    display: flex;
    width: 80%;
    background: rgba(255, 250, 250, 0.39);
    justify-content: center;
    /* padding: 40px; */
    position: relative;
    align-self: center;
    margin-top: 40px;
    padding-bottom: 20px;
  }
  
  h2{
   position: absolute;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
  }
  
  #vehiclePictures{
    display: grid;
    color: #4c413f;
    grid-gap: 30px;
    grid-template-columns: auto auto auto auto;
    margin-top: 60px;
  }
  
  #vehiclePictures img{
  height: 280px;
  width: 240px;
  border-radius: 10px;
  box-shadow: 0 0.3125rem 0.625rem #4c413f;
  }
  
  #vehiclePictures figcaption{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 240px;
    background: #4c413f;
    height: 45px;
    color: #efefef;
    padding: 5px;
    border-radius: 5px;
    }
    
/* Footer */
footer {
  height: 68px;
  display: flex;
  justify-content: center;
  background-color: #d8af39;
}

.footerItems {
  font-size: small;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footerContent {
  margin: 5px;
  font-style: italic;
}

.footerContent a {
  color: #14454c;
}

/*--- media queries ---*/

/*large devices (desktops)*/
@media only screen and (max-width: 992px) and (min-width: 830px) {

}
 

/*medium devices (tablets, ipads)*/
@media only screen and (max-width: 829px) and (min-width: 590px) {

}


/*small devices (phones)*/
@media only screen and (max-width: 589px) and (min-width: 480px) {
}

/*smaller devices (phones)*/
@media only screen and (max-width: 479px) and (min-width: 400px){

}