* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   /* outline: 1px solid red;  */
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("img/fondo.png");
  font-size: 16px;
  width: auto;
}

/*header section*/
header {
  background-color: #d8af39;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  
}

.containerLogo {
  height: 5em;
  display: flex;
}

.ghiblisLogo {
  width: auto;
  height: 5em;
  padding: 10px;
}  


.ghiblisLogo {
  display: flex;
  align-items: center;
  width: 8.125rem;
  height: auto;
  margin-bottom: 5%;
}

/*main section*/

main{
  display: grid;
  margin-top: 20px;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

.posterSection{
width: 100%;
}

.initialPicture {
  /* height: 100%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.kikisPicture {
  /* height: 100%; */
  width: auto;
}

.posterText {
  font-weight: bold;
  color: #4c413f;
  background: rgba(255, 250, 250, 0.39);
  font-style: normal;
  height: 133px;
  position: absolute;
  width: 1080px;
  margin-top: 460px;
}

#bigText {
  font-size: 4rem;
  text-align: right;
  font-style: normal;
}

#smallText {
  font-size: 2.8125rem;
  text-align: right;
  font-style: normal;
}

/*section Allmovies and filters*/
.allMoviesAndFilter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 120px;
  align-items: center;
}

#allMovies {
  font-size: 2.8rem;
  font-weight: 800;
  color: #4c413f;
  font-style: normal;
  display: flex;
  padding-bottom: 2%;
  padding-top: 1%;
}

select {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: #4c413f;
  font-weight: bold;
  background-color: #efefef;
  height: 2.5rem;
  width: 15%;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #3c3c43;
}

.inputSearch {

  height: 40px;
  width: 230px;
  font-family: Roboto, "FontAwesome", sans-serif;
  font-size: 15px;
  font-weight: bold;
  background: #efefef;
  color: #4c413f;
  border-radius: 5px;
  border: 1px solid #4c413f;
}

input[type="search"]::placeholder {
  padding-left: 15%;
}

.movieList {
  background: rgba(255, 250, 250, 0.39);
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-left: 70px; */
  padding-top: 70px;
  padding-bottom: 30px;
}

#moviesList {
  color: #4c413f;
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: auto auto auto auto;
}
/* tarjeta global */
.globalCard {
  position: relative;
  width: 15.625rem;
  height: 18.75rem;
  border-radius: 0.3125rem;
  margin: 0.625rem;
}
/* tarjeta frontal */
.globalCard .card {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 0.3125rem 0.625rem #4c413f;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 0.625rem;
}
.globalCard .card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}

.globalCard .card p {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.875rem;
  font-size: 0.9375rem;
  font-weight: bolder;
  line-height: 1.875rem;
  color: #4c413f;
  background: rgba(255, 250, 250, 0.7);
  text-align: center;
  text-justify: auto;
  border-radius: 0 0 0.625rem 0.625rem;
}
.globalCard .card .movieYr {
  top: 0;
  width: 100%;
  height: 1.875rem;
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.875rem;
  color: #ebe9e9;
  text-align: center;
  text-justify: auto;
  border-radius: 0.625rem 0.625rem 0 0;
  letter-spacing: 0;
  background: rgba(76, 65, 63, 0.7);
}

.globalCard .card .movieRtng {
  bottom: 0;
  width: 100%;
  height: 1.5625rem;
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.5625rem;
  color: #4c413f;
  text-align: center;
  text-justify: auto;
  border-radius: 0 0 0.625rem 0.625rem;
  letter-spacing: 0;
  padding-top: 0.125rem;
  background: none;
}

/* tarjeta trasera */
.globalCard .back-card {
  transform: perspective(600px) rotateY(180deg);
  background: #4c413f;
  font-size: 1.25rem;
  padding: 0.625rem;
  color: #d8af39;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 0.3125rem 0.625rem #4c413f;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 0.625rem;
}

.globalCard .back-card .filmDescription {
  color: #ebe9e9;
  font-size: 0.75rem;
  justify-content: center;
  font-weight: normal;
  padding-bottom: 0.625rem;
  letter-spacing: 0.0625rem;
}
.globalCard .back-card .btnMoreInfo {
  width: 7.1875rem;
  height: 1.875rem;
  left: 4.0788rem;
  top: 16.7656rem;
  background: #14454c;
  border-radius: 0.625rem;
  color: #ebe9e9;
  margin-left: 2.625rem;
}
.globalCard:hover .card {
  transform: perspective(37.5rem) rotateY(180deg);
}
.globalCard:hover .back-card {
  transform: perspective(37.5rem) rotateY(360deg);
}

/*section scrollTop*/
.scrollTopBtn {
  position: fixed;
  z-index: 999;
  bottom: 0.25rem;
  right: 2.5rem;
  width: 4.375rem;
  height: 4.0625rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #14454c;
  color: #d8af39;
  font-weight: bolder;
  font-size: 2.1875rem;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scrollTopBtn:hover {
  background: #4c413f;
  color: #d8af39;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/*section Footer*/
footer {
  height: 4.25rem;
  display: flex;
  justify-content: center;
  background-color: #d8af39;
}

.footerItems {
  font-size: small;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footerContent {
  margin: 0.3125rem;
  font-style: italic;
}

.footerContent a {
  color: #14454c;
}


/*media queries-----------------------------------------*/
/*Large devices-desktops*/
@media only screen and (max-width: 992px) and (min-width: 701px){
  
  .kikisPicture {
    width: 800px;
  }
  .posterText {
    height: 95px;
    width: 800px;
    margin-top: 350px;
  }
  
  #bigText {
    font-size: 48px;
  }
  #smallText {
    font-size: 25px;
  }
 
.allMoviesAndFilter {
  height: 100px;
}

#allMovies {
  font-size: 30px;
}

select {
  font-size: 18px;
}

.inputSearch {
  font-size: 15px;
}
.movieList {
 justify-content: space-evenly; 
}

#moviesList {
  grid-template-columns: auto auto auto;
}
}

/*Medium devices-Tablets*/
@media only screen and (max-width: 700px) and (min-width: 601px){
  .kikisPicture {
    width: 700px;
  }
  .posterText {
    height: 90px;
    width: 700px;
    margin-top: 300px;
  }
  
  #bigText {
    font-size: 38px;
  }
  #smallText {
    font-size: 25px;
  }
 

#allMovies {
  font-size: 30px;
}

select {
  font-size: 18px;
}

.inputSearch {
  font-size: 15px;
}

#moviesList {
  grid-template-columns: auto auto;
}

}



/*Small devices-Phones*/
@media only screen and (max-width: 600px) and (min-width: 400px){
  .kikisPicture {
    width: 450px;
  }
  .posterText {
    height: 56px;
    width: 450px;
    margin-top: 190px;
  }
  
  #bigText {
    font-size: 28px;
  }
  #smallText {
    font-size: 18px;
  }

  #smallText img{
    width: 15px;
    height: 15px;
  }
 
.allMoviesAndFilter {
  height:100px;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 5px;
}

#allMovies {
  font-size: 20px;
}

select {
  font-size: 12px;
  width: 120px;
  height: 35px;
}

.inputSearch {
  font-size: 10px;
  width: 180px;
  height: 35px;
}
.movieList {
 justify-content: space-evenly; 
 padding-top: 30px;
}

#moviesList {
  grid-template-columns: auto auto;
}

}
/*Small devices-Phones*/
@media screen and (max-width: 480px) {
  .kikisPicture {
    width: 450px;
  }
  .posterText {
    height: 56px;
    width: 450px;
    margin-top: 190px;
  }
  
  #bigText {
    font-size: 28px;
  }
  #smallText {
    font-size: 18px;
  }

  #smallText img{
    width: 15px;
    height: 15px;
  }
 
.allMoviesAndFilter {
  height:100px;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 5px;
}

#allMovies {
  font-size: 20px;
}

select {
  font-size: 12px;
  width: 120px;
  height: 35px;
}

.inputSearch {
  font-size: 10px;
  width: 180px;
  height: 35px;
}
.movieList {
 justify-content: space-evenly; 
 padding-top: 30px;
}

#moviesList {
  display: flex;
  flex-direction: column;
}


  body {
    background-color: #14454c;
  }
  #moviesList {
    grid-template-columns: auto auto;
  }
}


