* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("img/fondo.png");
  font-size: 16px;
  width: auto;
}

/*header section*/
header {
  background-color: #d8af39;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.containerLogo {
  height: 5em;
  display: flex;
}

.ghiblisLogo {
  width: auto;
  height: 5em;
  padding: 10px;
}

.ghiblisLogo {
  display: flex;
  align-items: center;
  width: 8.125rem;
  height: auto;
  margin-bottom: 5%;
}

#home {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  margin-top: 15px;
  width: 100%;
  height: auto;
  color: #efefef;
}

/* Movie info and poster*/

#moviePoster {
  border-radius: 2%;
}
#movieTitle {
  display: flex;
  justify-content: center;
  color: #4c413f;
  padding-top: 20px;
}

#movieInfoAndPoster {
  background-color: rgba(255, 250, 250, 0.39);
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}

/* Footer */
footer {
  height: 68px;
  display: flex;
  justify-content: center;
  background-color: #d8af39;
}

.footerItems {
  font-size: small;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footerContent {
  margin: 5px;
  font-style: italic;
}

.footerContent a {
  color: #14454c;
}
